[class^="ti-"], [class*=" ti-"] {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.ti-settings:before {
    content: "\e60f";
}

.ti-search:before {
    content: "\e610";
}


.ti-layers-alt:before {
    content: "\e630";
}

.ti-fullscreen:before {
    content: "\e659";
}

.ti-dashboard:before {
    content: "\e6aa";
}
